h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif;
}

/* PRIMARY COLOR */
.soft-red {
  color: hsl(7, 99%, 70%);
}
.yellow {
  color: hsl(51, 100%, 49%);
}
.dark-cyan {
  color: hsl(167, 40%, 24%);
}
.dark-blue {
  color: hsl(198, 62%, 26%);
}
.dark-m-cyan {
  color: hsl(168, 34%, 41%);
}

/* SECONDARY COLOR */

.v-dark-blue {
  color: hsl(212, 27%, 19%);
}
.v-dark-g-blue {
  color: hsl(213, 9%, 39%);
}
.dark-g-blue {
  color: hsl(232, 10%, 55%);
}
.gray-blue {
  color: hsl(210, 4%, 67%);
}
.white {
  color: hsl(0, 0%, 100%);
}

/* BACKGROUND COLOR PRIMARY*/
.soft-red-bg {
  background: hsl(7, 99%, 70%);
}
.yellow-bg {
  background: hsl(51, 100%, 49%);
}
.dark-cyan-bg {
  background: hsl(167, 40%, 24%);
}
.dark-blue-bg {
  background: hsl(198, 62%, 26%);
}
.dark-m-cyan-bg {
  background: hsl(168, 34%, 41%);
}

/* SECONDARY BG COLOR */
.v-dark-blue-bg {
  color: hsl(212, 27%, 19%);
}
.v-dark-g-blue-bg {
  color: hsl(213, 9%, 39%);
}
.dark-g-blue-bg {
  color: hsl(232, 10%, 55%);
}
.gray-blue-bg {
  color: hsl(210, 4%, 67%);
}
.white-bg {
  color: hsl(0, 0%, 100%);
}

/* PRIMARY BACKGROUND */
.light-blue {
  background: #3ebfff;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-content {
  align-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nr-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

@media (max-width: 767px) {
  .flex-r-column {
	flex-direction: column-reverse;
  }
  .flex-column {
	flex-direction: column;
  }
}