@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;800&display=swap");

body {
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  background: #fff;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
  font-family: "Fraunces", serif;
}

/* fade animation */
.reveal {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.reveal.scrolled {
  opacity: 1;
  transition: all 0.6s ease-in-out;
}
.reveal.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.reveal.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

.reveal.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* SCROLL PERCENTAGE */
[data-scrollPercentage] .percentage {
  display: inline-block;
  background: #90d4c5;
  height: 6px;
  width: 0;
}
#scroll-percent {
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 1;
}


/* HEADER */
header {
  background: #3ebfff url(../images/image-header.jpg) no-repeat bottom
    center/cover;
  overflow: hidden;
  background-size: contain;
}
header a {
  display: block;
}
header .arrow-down {
  margin-block: 100px 329px;
  display: grid;
  align-items: center;
  justify-items: center;
}
header h1 {
  color: #fff;
  font-size: 55px;
  letter-spacing: 11px;
  margin-top: 78px;
  text-align: center;
}
.header {
  padding: 34px 40px;
}

.header .hamburger {
  position: relative;
  width: 25px;
  height: 21px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.header .hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 26px;
  opacity: 1;
  left: 0;
  background: #81e3ff;
  transition: 0.25s ease-in-out;
}

.header .hamburger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
.header .hamburger span:nth-child(2) {
  top: 7px;
  opacity: 1;
  transform-origin: left center;
}
.header .hamburger span:nth-child(3) {
  top: 14px;
  transform-origin: left center;
}

.header .open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
}
.header .open span:nth-child(2) {
  top: 0;
  opacity: 0;
  transition: all 0.5 ease-in-out;
}
.header .open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 15px;
}
.header .logo img {
  width: 185px;
}
.header nav ul li {
  display: inline-block;
}
.header .menu ul li:nth-child(1),
.header .menu ul li:nth-child(2),
.header .menu ul li:nth-child(3) {
  padding-right: 48px;
}
.header .menu ul li.contact {
  background: #fff;
  border-radius: 44px;
}
.header .menu ul li a {
  font-family: "Barlow", sans-serif;
}
.header .menu ul li.contact a {
  color: #000;
  padding: 19px 28px;
  font-size: 18px;
}
.header .menu ul li.contact a:hover {
  color: #fff;
  background: #6fcfff;
  border-radius: 44px;
  transition: all 0.5s ease-in-out;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ARTICLE CONTAINER */
.container .col-left {
  width: 50%;
}
.container .col-left .wrapper {
  display: flex;
  flex-direction: column;
  padding: 157px 103px 157px 236px;
}
.container .col-left .wrap-adj {
  padding: 157px 217px 157px 110px;
}
.container .col-left h2 {
  font-size: 41px;
  line-height: 1.2;
}
.container .col-left .wrapper p {
  margin-top: 34px;
  line-height: 1.7;
  font-size: 17.7px;
}
.container .col-left .wrapper .learnmore {
  margin: 43px 9px 0;
}
.container .col-left .wrapper .learnmore a {
  font-size: 16.8px;
  font-weight: 700;
  position: relative;
  transition: font-size 0.5s ease-in-out;
}
.container .col-left .wrapper .learnmore a:hover {
  font-size: 19px;
}
.container .col-left .wrapper .learnmore a::after {
  background-color: rgba(250, 212, 0, 0.5);
  content: "";
  position: absolute;
  z-index: -1;
  left: -6%;
  bottom: -2px;
  width: 115%;
  height: 10px;
  border-radius: 4px;
}
.container .col-left .wrapper .learn-pink a::after {
  background-color: rgba(254, 120, 103, 0.5);
}
.container .col-left .wrapper .learnmore a:hover::after {
  background-color: #fad400;
}
.container .col-left .wrapper .learn-pink a:hover::after {
  background-color: #fe7867;
}
.container .col-right {
  width: 50%;
}
.container .col-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  flex: 0.5;
  justify-content: flex-end;
  min-height: 600px;
  padding: 22px;
}
.card h3 {
  font-size: 28px;
  margin: 10px;
  font-weight: 900;
  text-align: center;
}
.card p {
  font-size: 15.7px;
  text-align: center;
  line-height: 1.8;
  padding: 0;
  max-width: 330px;
  align-self: center;
  padding: 20px 0 35px;
}
.card.cherry {
  background: url(../images/image-graphic-design.jpg) center no-repeat;
  background-size: cover;
}
.card.orange {
  background: url(../images/image-photography.jpg) no-repeat center;
  background-size: cover;
}

/* TESTIMONIALS */
.testimonials {
  margin-top: 163px;
  transition: all 0.5s ease-in-out;
}
.testimonials .testimonial-title {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  letter-spacing: 5.4px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}
.testimonials .testimonial-item {
  padding: 53px 20px;
  gap: 20px;
}
.testimonials .testimonial-item .wrapper {
  max-width: 360px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.testimonials .testimonial-item .wrapper img {
  border-radius: 50%;
  width: 72px;
  margin: 30px auto;
}
.testimonials .testimonial-item .wrapper .info {
  font-size: 18px;
  text-align: center;
  line-height: 1.8;
  padding: 29px 6px 70px;
}
.testimonials .testimonial-item .wrapper .name {
  font-size: 19px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin-bottom: 14px;
}
.testimonials .testimonial-item .wrapper .position {
  font-size: 13px;
}
/* GALLERY */
.gallery .gallery-image {
  width: 25%;
  object-fit: contain;
}
.gallery {
  padding-top: 115px;
}
/* FOOTER */
footer {
  padding: 20px 20px 72px;
  background: #90d4c5;
}
footer .logo {
  fill: #25564b;
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
}

footer .logo svg {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 50.7%;
  top: 77%;
  transform: translate(-50%, -50%);
}
footer .footer-links {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-self: center;
  padding-top: 30px;
}
footer .footer-links a {
  font-size: 17px;
  padding: 0 26px;
}
footer .footer-links a:hover {
  color: #fff;
}
footer .icons-wrapper {
  padding-top: 90px;
}
footer .icons-wrapper img {
  width: 21px;
  margin: 0 13px;
}
footer .icons-wrapper img:hover {
  filter: brightness(0) invert(1);
  cursor: pointer;
}
/* MOBILE */
@media only screen and (max-width: 767px) {
  header {
    background: #3ebfff url(../images/mobile/image-header.jpg) no-repeat bottom
      center/cover;
    border-bottom: 1px solid transparent;
    background-size: 100%;
  }
  .header {
    padding: 35px 23px;
  }
  .header nav ul {
    background: #fff;
    padding: 46px 0;
  }
  .header .show nav ul::after {
    content: "";
    position: absolute;
    top: -23px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 24px solid white;
    border-left: 24px solid transparent;
  }
  header .arrow-down {
    margin-block: 55px 130px;
  }
  header h1 {
    font-size: 36px;
    letter-spacing: 8px;
  }
  .hide-on-pc {
    display: block;
  }
  .header {
    position: relative;
  }
  .collapse:not(.show) {
    display: none;
  }
  .header .menu ul li:nth-child(1),
  .header .menu ul li:nth-child(2),
  .header .menu ul li:nth-child(3) {
    padding-right: 0;
    padding-bottom: 42px;
  }
  .header .menu ul li.contact {
    background: 0;
    padding: 0;
  }
  .header .menu ul li.contact a {
    background: #fbd601;
    padding: 23px 31px;
    border-radius: 44px;
    width: 139px;
    margin: 0 auto;
  }
  .menu {
    display: block;
  }
  .header .show {
    position: absolute;
    left: 0;
    right: 0;
    top: 102px;
    text-align: center;
    width: calc(100% - 3rem);
    margin: 0 auto;
  }
  .header .show nav ul li {
    display: block;
  }
  .header .show li a {
    color: #7d7987;
    display: block;
  }
  .hide-on-mobile {
    display: none;
  }
  /* ARTICLE CONTAINER */
  .container .col-left {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .container .col-left .wrapper {
    padding: 60px 39px !important;
  }
  .container .col-left h2 {
    font-size: 30px;
    line-height: 1.2;
  }
  .container .col-right {
    width: 100%;
  }
  .container .col-right img {
    height: 100%;
  }
  .card.cherry {
    background: url(../images/mobile/image-graphic-design.jpg) center no-repeat;
    background-size: cover;
  }
  .card.orange {
    background: url(../images/mobile/image-photography.jpg) no-repeat center;
    background-size: cover;
  }
  .testimonials {
    margin-top: 69px;
  }
  /* GALLERT */
  .gallery .gallery-image {
    width: 50%;
    object-fit: contain;
  }
  .gallery {
    padding-top: 32px;
  }
  /* FOOTER */
  footer .logo svg {
    left: 54.7%;
}
  footer .footer-links a {
    padding: 0 14px;
}
}

/* DESKTOP */
@media (min-width: 768px) {
  .hide-on-pc {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .header .logo img {
    width: 171px;
  }
  .container .col-left .wrapper {
    padding: 22% 14% 10% 23%;
  }
  .container .col-left .wrap-adj {
    padding: 22% 22% 10% 15%;
  }
}

@media screen and (max-width: 1024px) {
  .container .col-left .wrapper,
  .container .col-left .wrap-adj {
    padding: 6% 15%;
  }
}